Package: flume
Version: 1.9.0-1
Section: base
Priority: optional
Architecture: all
Depends: openjdk-8-jre
Maintainer: Gabor FELEGYHAZI <felegy@gmail.com>
Description: Flume agent 1.9.0
 Flume is a distributed, reliable, and available service for efficiently
 collecting, aggregating, and moving large amounts of log data.
